@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
//colors

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --cor-branco: #FFFFFF;
    --cor-cinza: #FAFAFA;
    --azul-claro: #E9F6FF;
    --azul: #00B0D7;
    --vermelho: #FF6060;
    --preto: #000000;
    --azul-escuro: #00223A;
    --cinza-escuro: #001B2F;
}